.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.input-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.formImage img {
  width: 100%;
}
